<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email accounts</title>
</head>
<body>
    <div style="width: 80%; margin: auto">
        <h3 style="width: 30%; margin:auto; text-align: center">Список подключенных аккаунтов:</h3>

        <div style="width:80%; margin: auto; margin-top: 3%;" class="container">
            <div class="row">
                {% for acc in accounts %}
                    <div class="col-3" style="width: 20%; border: solid 1px black; border-radius: 3%; 
                    padding: 1%; text-align: center">
                        <p>name: {{ acc.name }}</p>
                        <p>email: {{ acc.email }}</p>
                        <p>imap server: {{ acc.imap_server }}</p>
                        <a href="{% url 'email_list' acc.id %}">Войти</a>
                    </div>
    
                {% endfor %}
            </div>

        <div style="width: 20%; margin: auto; text-align: center; margin-top: 5%">
            <a href="{% url 'register_mail_account' %}" style="">Добавить</a>
        </div>

        </div>
    </div>
</body>
</html>