<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список сообщений</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        #progress-bar {
            width: 100%;
            background-color: #f3f3f3;
            border: 1px solid #ccc;
            margin-top: 20px;
            position: relative;
        }
        #progress {
            width: 0;
            height: 20px;
            background-color: #4caf50;
            text-align: center;
            line-height: 20px;
            color: white;
        }
    </style>
</head>
<body>
    <div id="progress-bar">
        <div id="progress-status" style="width: 30%; margin: auto; text-align: center; font-size: 14pt; 
        font-weight: bold">Поиск сообщений...</div>
        <div id="progress"></div>
    </div>
    <table id="messages-table" style="width: 70%; margin: auto">
        <thead class="">
            <tr class="">
                <th style="width: 10%">ID</th>
                <th style="width: 30%">Тема</th>
                <th style="width: 20%">Дата отправки</th>
                <th style="width: 20%">Дата получения</th>
                <th style="width: 30%">Описание</th>
                <th style="width: 10%">Прикреплённые файлы</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
<script>
    $(document).ready(function() {
        //let socket = new WebSocket('ws://localhost:8000/ws/email/');
        
        const js_account_id = {{ account_id }};
        const socket = new WebSocket(`ws://localhost:8000/ws/email/${js_account_id}/`);

        socket.onmessage = function(event) {
            let data = JSON.parse(event.data);
            console.log("Message received: ", data);  // Debugging line
            
            // Update progress message
            if (data.status.startsWith('Progress:')) {
                  let unprocessed_emails = parseInt(data.status.split(': ')[1]);
                  let progress_message = `Обработка сообщений, осталось: ${unprocessed_emails}`;
                  $('#progress-status').text(progress_message);
                }
            
            //Update progress bar
            if (data.progress_percentage) {
              let progress_percentage = data.progress_percentage;
              $('#progress').css('width', progress_percentage + '%').text(progress_percentage + '%');
            }
            
            // Update email list
            if (data.email) {
                append(data.email);
            }
        };

        socket.onopen = function(event) {
            console.log("WebSocket is open now.");  // Debugging line
        };

        socket.onclose = function(event) {
            console.log("WebSocket is closed now.");  // Debugging line
        };

        socket.onerror = function(error) {
            console.log("WebSocket error: " + error);  // Debugging line
        };
    });
    
    function append(email) {
        let row = `<tr>
            <td style="width: 10%">${email.id}</td>
            <td style="width: 30%">${email.subject.length > 30 ? email.subject.slice(0, 50) + '...' : email.subject}</td>
            <td style="width: 20%">${email.sent_date}</td>
            <td style="width: 20%">${email.received_date}</td>
            <td style="width: 30%">${email.description.length > 30 ? email.description.slice(0, 50) + '...' : email.description}</td>
            <td style="width: 10%">${email.attachments}</td>
        </tr>`;
        $('#messages-table tbody').prepend(row);
    }
    
</script>

</body>
</html>
